pipeline/PL_COPY.json
{
	"name": "PL_COPY",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "folder_2024-03-26",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Character ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Character ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Character Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Character Name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Species",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Species",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Gender",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Gender",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "House",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "House",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Patronus",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Patronus",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Wand (Wood)",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Wand (Wood)",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Wand (Core)",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Wand (Core)",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText3",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Copy data1').output",
						"type": "Expression"
					},
					"condition": {
						"value": "not(isnull(formatformatDateTime(@item().name,'YYYY-MM-DD')))\n\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"cases": []
				}
			}
		],
		"annotations": []
	}
}